.bg-img {
	background:url(img/field-house.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	max-width: 100%;
	width: 100%;
	background-color: grey;
	position: relative;
	z-index: -2;
}
.bg-overlay	{
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	right: 0;
	background-color:rgba(255,255,255,0.4);
	z-index: -1;
}