.flavors {
		font-family: naivefantasies;
		width: 100%;
		padding: 10px 50px;
		font-size: 20px;
		text-align: center;
		margin: 0 auto;
	&.vanilla {
		background-color: lighten($yellow, 10%);
	}
	&.chocolate {
		background-color: lighten($pink, 10%);
	}	
	&.caramel {
		background-color: lighten($blue, 10%);
	}	
	&.seasonal {
		background-color: lighten($peach, 10%);
		position: relative;
		.sticker {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background-color: white;
			position: absolute;
			right: 517px;
			top: -10px;
			font-family: 'Josefin Slab';
			font-size: 14px;
			line-height: 13px;
			padding-top: 22px;
			transform: rotate(12deg);
		}
	}
}