@font-face {
    font-family: 'naivefantasies';
    src: url('fonts/naivefantasies.eot');
    src: url('fonts/naivefantasies.otf');
    src: url('fonts/naivefantasies.eot?#iefix') format('embedded-opentype'),
         url('fonts/naivefantasies.woff2') format('woff2'),
         url('fonts/naivefantasies.woff') format('woff'),
         url('fonts/naivefantasies.ttf') format('truetype'),
         url('fonts/naivefantasies.svg#naivefantasies') format('svg');
    font-weight: normal;
    font-style: normal;

}