.facebook {
	background:url(img/facebook.png) center no-repeat;
	background-size: 30px;
	width: 30px;
	height: 30px;
}
.instagram {
	background:url(img/instagram.png) center no-repeat;
	background-size: 30px;
	width: 30px;
	height: 30px;
}